{% extends "base.html" %}

{% block content %}

{% include "flash.html" %}
{% from "_formhelpers.html" import render_field %}

<h3>{{title}}</h3>
<form class="form" method="post" action="/events/create">
    {{form.hidden_tag()}}
    <dl>
        {{ render_field(form.title) }}
        {{ render_field(form.name) }}
        {{ render_field(form.description) }}
        {{ render_field(form.category) }}
        {{ render_field(form.start_date) }}
        {{ render_field(form.end_date) }}
        {{ render_field(form.cost) }}
        {{ render_field(form.venue) }}
        {{ render_field(form.flyer) }}
    </dl>
    <p><input type="submit" value="Create"></p>
</form>

{% endblock %}