{% extends "base.html" %}

{% block content %}

{% include "flash.html" %}
<p class = "mt-4"> Welcome, {{user}} </p>


<div class = "text-center mt-4">
    <h3>{{title}}</h3>
    {% if events %}
        <div class = "row mt-5">
            {% for e in events %}
                <div class = "col-4">
                   <b>{{e.title}} </b> <br>
                    Name: {{e.name}} <br>
                    Category: {{e.category}} <br>
                    Description: {{e.description}} <br>
                    Start Date: {{e.start_date}} <br>
                    End Date: {{e.end_date}} <br>
                    Cost: {{e.cost}} <br>
                    Venue: {{e.venue}} <br>
                    Flyer: {{e.flyer}} 
                </div>
            {% endfor %}         
        </div>
    {% else %}

        There are no events.

    {% endif %}
</div>

{% endblock %}